body {
  margin: 0;
  background-color: rgb(223, 225, 250);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 22%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #232D41;
  padding: 8px 16px;
  font-family: Verdana, Tahoma, sans-serif;
  text-align: center;
  letter-spacing: 0.6px;
  font-weight: bold;
  text-decoration: none;
}

li a.active {
  background-color: #00B4FF;
  color: white;
}

li a:hover:not(.active) {
  background-color: #232D41;
  color: white;
}

h1 {
  font-size: 56px;
  font-family: Verdana, Tahoma, sans-serif;
  color: #232D41;
  text-align: center;
  line-height: 64px;
  letter-spacing: 0;
  margin: 0 0 24px 0;
}

.spacing{
  height: 35px;
}

.spacing1{
  height: 110px;
}

.question{
  border-radius: 25px;
  background-color: rgb(7, 161, 226);
  padding: 20px; 
  width: 90%;
  height: 35px;
  text-align: center;
}

.container{
  border-radius: 25px;
  padding: 20px; 
  width: 95%;
  height: 60%;
  background-color: #00B4FF;
}

.btn{
  background: #eeeeee;
  color: rgb(44, 44, 44);
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Lato';
  font-size: inherit;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 15px 40%;
}

.btn:hover{
  background: rgb(32, 161, 212);
  color: #eeeeee;
}

.btnNext{
  background: rgb(32, 161, 212);
  color: #eeeeee;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Lato';
  font-size: inherit;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 15px 35px;
  float: right;
}

.btnNext:hover{
  background: #50B7E0;
  color: #eeeeee;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  background-color: rgb(7, 161, 226);
  visibility: visible;
}

.oldtechbuttnos{
  height:100%;
  width:24.5% ;
  background-color: greenyellow;
  display: inline-block;
}

